.error-message
  margin: 10px 0
  padding: 5px
  background-color: #e74c3c
  border-radius: 4px
  color: rgb(255, 255, 255)
  h1
    margin: 0
    text-transform: uppercase
    font-size: 13px
    font-weight: 500
    text-align: center
    //a