
$border-colour: rgb(226, 226, 226)


//Grid to contain the videos and metadata

.grid-container
  display: grid
  grid-column-gap: 5%
  grid-template-columns: auto auto auto
  padding: 1%
  padding-top: 3%
  position: absolute
.grid-item
  width: 335px
  height: 290px
  background-color: rgb(255, 255, 255 )
  margin-bottom: 5%
  margin-top: 5%
  border-radius: 25px
  border: 1px solid $border-colour
  h1
       padding-top: 5%
       color: rgb(20, 20, 20)
       letter-spacing: 1px
       font-size: 16px
       font-weight: 600
       display: inline
       width: 25%
       height: 28px
  .deleteIcon
      height: 20px
      width: 20px
  table
    width: 100%
    .video-name-container
      width: 90%
      text-align: left
      padding-left: 5%
      padding-top: 3%
    .delete-icon-container
      vertical-align: top
      padding-top: 5%
      text-align: left
      cursor: pointer
  p
      height: 54px
      margin: 1px
      color: rgb(120,120,120)
      letter-spacing: 1px
      font-size: 13px
      margin-left: 7%
      margin-right: 7%
  .upload_button
      height: 85%
      margin-top: 5%
      background-color: white
      text-decoration: none
      cursor: pointer
      border: none
      color: #4D4D4D
      letter-spacing: 1px
      font-size: 30px
  .grid-video
      width: 100%
      border-radius: 0 0 25px 25px
      -webkit-border-radius: 0 0 25px 25px
      -moz-border-radius: 0 0 25px 25px
  .play-overlay
      z-index: 10
      position: relative
      width: 100%
      border-radius: 0 0 20px 20px
      height: 65%
      margin-top: -194px
      background-color: rgba(255, 255, 255, 0.2)
      margin-bottom: 5%
      cursor: pointer
      img
        margin-top: 17%
        width: 20%
        height: 40%
        opacity: 0.8
        margin-left: 40%
        margin-right: 40%

  .play-overlay:hover
      background-color: rgba(208,1,27, 0.1)



  video
      width: 100%
      border-radius: 0 0 25px 25px
      -webkit-border-radius: 0 0 25px 25px
      -moz-border-radius: 0 0 25px 25px
      overflow: hidden

.no-vids
  width: 335px
  text-align: center
  font-weight: lighter
  color: rgb(208,1,27)
  margin-top: 30%


.video_icon
  position: relative
  top: 3px
  margin-right: 1%
.search-bar
  margin-left: 1%
  width: 83.5%
  height: 50%
  position: absolute
  display: inline_block
  input
    float: left
    width: 96%
    decoration: none
    border: 3px solid $border-colour
    padding: 5px
    height: 20px
    outline: none
    font-size: 18px
    color: rgb(208, 1, 27)
    border-left: none
    z-index: 1
  .search_button
    margin: 0
    width: 2%
    display: inline_block
    position: relative
    background-color: white
    text-decoration: none
    cursor: pointer
    border: 3px solid $border-colour
    border-right: none


//When the screen resizes, elements will be changed as stated below:

//1200px
//Grid will change to two columns
//The search bar icon will dissapear to save space
//The search bar will created a border where the search icon dissapears

//850px
//Grid will change to one column
//Search bar will reduce its bottom margin to negate waste of space
//Grid item display will take up almost the entire width of the screen


@media only screen and (max-width: 1200px)
  .grid-container {grid-template-columns: auto auto;}
  .search_button {display: none;}
  .search-bar input {border: 3px solid $border-colour}



@media only screen and (max-width: 850px)
  .grid-container {grid-template-columns: auto; margin-top: 3%}
  .search-bar {margin-bottom: 5%;}
  .grid-container {padding: 5%;}
