// View for the modal that displays video
.video-preview-modal
    position: fixed
    width: 80%
    margin-left: 10%
    margin-right: 10%
    text-align: center
    z-index: 20
    display: block
    top: 7px
    .x-button
        margin: 0
        margin-top: -2%
        margin-right: -2%

        background-color: white
        float: right
        img
            width: 4%
            height: 4%
            float: right
            vertical-align: top
    .grid-video
        width: 100%
        border-radius: 0 0 25px 25px
        -webkit-border-radius: 0 0 25px 25px
        -moz-border-radius: 0 0 25px 25px

// Readjust size of modal on smaller screen
@media only screen and (max-width: 850px)
    .video-preview-modal {width: 100%; margin-left: 0; top: 50px;}
