.popup
    position: sticky;
    width: 19%;
    z-index: 15;
    padding: 0;
    font-size: 12px
    text-align: center;
    margin-top: 7%;
    padding-left: 2.5%;
    h1
        font-weight: normal
    .delete-table
        width: 100%;
        .delete-wrapper
            width: 100%;
        .yes-button
            display: inline
            width: 80%
            border: 1px solid #e74c3c
            border-radius: 3px
            background-color: white
            color: #e74c3c
            cursor: pointer
            font-family: Open Sans;
            float: left;
        .yes-button:hover
            background-color: #e74c3c
            color: white;
        .no-button
            display: inline
            width: 80%
            border: 1px solid #e74c3c
            border-radius: 3px
            background-color: white
            color: #e74c3c
            cursor: pointer
            font-family: Open Sans;
        .no-button:hover
            background-color: #e74c3c
            color: white;
    
@media only screen and (max-width: 1200px)
    .popup {width: 32%;}

@media only screen and (max-width: 850px) 
    .popup {width: 50%; padding-left: 10%; margin-top: 20%;}



    
    