// REFERENCES: Folowed tutorial by Ayooluwa Isaiah from Pusher (https://pusher.com/tutorials/customer-service-chat-react)
// ACCESSED: 27/03/2019
// Made changes to styling, file names, deleted dialog file and functions, Client chat loads on page load, client name is set at dev time

// Styling for the client side of the live chatKit
// Includes grey chat body and form input
.support
  box-sizing: inherit
  margin: 0
  padding: 0
  html
    box-sizing: border-box
    &::before, &::after
      box-sizing: inherit
      margin: 0
      padding: 0

  .App
    text-align: center
    overflow: hidden

  svg
    width: 28px
    height: 28px

  input[type="text"]:focus
    border: 1px solid #300d4f

  button
    color: white
    font-size: 14px
    border-radius: 2px
    background-color: #331550
    border: 1px solid #331550
    cursor: pointer
    box-sizing: border-box
    &:hover
      color: white
      background-color: rebeccapurple

  .chat-widget
    position: fixed
    bottom: 0
    width: 87%
    height: 81.3%
    margin-left: -2.2%
    border: 1px solid #ccc

  .chat-body
    height: 425px
    overflow-y: auto
    padding: 10px
    overflow: scroll

  .status-messages
    text-align: center
    padding: 5px

  .message
    background-color: #f6f6f6
    clear: both
    margin: 2%
    padding: 10px
    border-radius: 5px
    max-width: 80%
    &.user
      float: right
      background-color: rgb(208,1,27)
      color: white
    &.support
      float: left
      background-color: #ddd

  .message-form
    width: 100%
    margin-bottom: 0

  .message-input
    width: 100%
    margin-bottom: 0
    border-radius: 0
    border: none
    border-top: 1px solid #ccc
    height: 50px
    padding: 20px
    font-size: 16px
    background-color: #f6f6f6

  .message-input:focus
      outline: none !important
      border-top: 1px solid rgb(208,1,27)
      box-shadow: 0 0 1px #719ECE
  .chat-body::-webkit-scrollbar
  	width: 5px
    height: 100%
    bottom: 0
  .chat-body::-webkit-scrollbar-thumb
  	background-color: rgb(71,71,71)
    bottom: 0
