// REFERENCES: Folowed tutorial by Ayooluwa Isaiah from Pusher (https://pusher.com/tutorials/customer-service-chat-react)
// ACCESSED: 27/03/2019
// Made changes to styling, file names, deleted dialog file and functions, Client chat loads on page load, client name is set at dev time

// Styling for the tech support side of the live chatKit
// Includes red sidebar with white active tabs, grey header, chat body and form input

.tech-support
  box-sizing: inherit
  margin: 0
  padding: 0
  z-index: 50
  background: green
  html
    box-sizing: border-box
    &::before, &::after
      box-sizing: inherit
      margin: 0
      padding: 0

  .App
    text-align: center
    overflow: hidden

  svg
    width: 28px
    height: 28px

  input[type="text"]:focus
    border: 1px solid #300d4f

  button
    color: white
    font-size: 14px
    border-radius: 2px
    background-color: #331550
    border: 1px solid #331550
    cursor: pointer
    box-sizing: border-box
    &:hover
      color: white
      background-color: rebeccapurple
  .chat-body
    height: 350px
    overflow-y: auto
    padding: 10px

  .status-messages
    text-align: center
    padding: 5px

  .message
    background-color: #f6f6f6
    clear: both
    margin-bottom: 15px
    padding: 10px
    border-radius: 5px
    max-width: 80%
    &.user
      float: right
      color: white
      background-color:  rgb(208,1,27)
    &.support
      float: left
      background-color: #ddd

  .message-form
    width: 100%
    margin-bottom: 0

  .message-input
    width: 100%
    margin-bottom: 0
    border-radius: 0
    border: none
    border-top: 1px solid #ccc
    height: 50px
    padding: 20px
    font-size: 16px
    background-color: #f6f6f6

  .message-input:focus
      outline: none !important
      border-top: 1px solid rgb(208,1,27)
      box-shadow: 0 0 1px #719ECE







  .support-area
    width: 100vw
    height: 100%
    display: flex

  .support-sidebar
    margin-top: -6%
    font-size: 13px
    bottom: 0
    direction: rtl
    overflow: scroll
    position: fixed
    z-index: 50
    width: 15%
    background-color: rgb(208,1,27)
    height: 100%
    ul
      list-style: none
      font-size: 13px
      width: 100%
      margin-right: -25%

    h3
      color: white
      margin-bottom: 0
      font-size: 13px
      text-align: left
      padding: 10px 20px
  .support-sidebar::-webkit-scrollbar
  	width: 5px
    height: 100%
    bottom: 0
  .support-sidebar::-webkit-scrollbar-thumb
  	background-color: white
    bottom: 0
  .room
    font-size: 16px
    color: white
    cursor: pointer
    text-align: left
    padding: 10px 20px
    margin-bottom: 10px
    &:hover
      color: rgb(71,71,71)
    &.active
      background-color: white
      margin-right: 0
      padding-right: 5%
      color: rgb(71,71,71)

  .support-session
    margin-left: 15%
    margin-top: -6%
    width: 85%
    height: 100%
    margin-top: -6%
    bottom: 0
    font-size: 13px
    position: fixed
    display: flex
    flex-direction: column

  .current-chat
    border-bottom: 1px solid #ccc
    text-align: left
    padding: 10px 20px
    display: flex
    background-color: white

    h3
      margin-bottom: 0
      background-color: white

  .chat-session
    flex-grow: 1
    overflow-y: auto
    padding: 10px
    background-color: rgb(250,250,250)
