.settings-button
  margin-top: 3px
  margin-left: 3px

.video-title-display
  margin-left: 3px
  margin-bottom: 3px

.video-scheduler-container
  background: #FFFFFF
  border: 1px solid #E6E6E6
  padding: 15px
  border-radius: 3px
