$font:  'Open Sans', sans-serif
$border-colour: #C3C3C3
$border-hover-colour: #3498db    

form
    display: flex
    flex-wrap: wrap
    width: 100%
    >.input-wrapper
        flex-shrink: 0
        margin: 0 0 20px 0
        width: 100%
        >.input:not(.button):not(.checkbox)
            box-sizing: border-box
            padding: 1px
            background-color: $border-colour
            transition: background-color 0.5s
            border-radius: 9px
            &:focus-within
                background-color: $border-hover-colour
        >.input
            position: relative
            >.select-file.multiple
                >.file-wrapper
                    width: calc( (100% / 6 ) - 10px)
                    margin: 5px
            >.select-file
                width: 100%
                padding: 14px
                background-color: #fff
                display: flex
                border-radius: 8px
                box-sizing: border-box
                flex-wrap: wrap
                >.file-wrapper
                    flex-shrink: 0
                    position: relative
                    height: 120px
                    position: relative
                    border-radius: 8px
                    overflow: hidden
                    width: 100%
                    >.progress-bar
                            width: 100%
                            position: absolute
                            bottom: 0
                            height: 8px
                            background-color: #2c3e50
                            >.bar
                                height: 100%
                                background-color: #2ecc71
                    >.file-details
                        display: flex
                        flex-wrap: wrap
                        align-content: flex-end
                        position: absolute
                        overflow: hidden
                        height: 100%
                        bottom: 0    
                        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0.6) 100%)
                        padding: 10px
                        box-sizing: border-box
                        width: 100%              
                        .type
                            top: 10px
                            right: 10px
                            position: absolute
                            background-color: #000000
                            color: #ffffff
                            font-size: 11px
                        h1, h2
                            overflow: hidden
                            text-overflow: ellipsis
                            box-sizing: border-box
                            width: 100%
                            text-shadow: 0 0 5px rgba(31, 31, 31, 0.63)
                            font-weight: 700
                            margin: 0
                            color: #fff
                            letter-spacing: .9px
                            font-size: 11px
                            white-space: nowrap
                        h2
                            color: rgb(214, 214, 214)
                            font-size: 10px
                    >.file-details.loading
                        bottom: 8px
                    >.file-filler
                        border-radius: 8px
                        background-color: rgb(37, 37, 37)
                        height: 100%
                    >.image-wrapper
                        height: 100%
                        >.image
                            width: 100%
                            height: 100%
                            background-size: cover
                            background-repeat: no-repeat
                            background-position: center
                &.multiple
                    max-height: 280px
                    overflow-y: scroll

            >h2
            >h1
                width: auto
                position: absolute
                left: 20px
                top: -8px
                padding: 0 8px
                margin: 0
                background-color: #fff
                font-weight: 400
                letter-spacing: .7px
                font-size: 12px
            >input[type='file']
                display: none
            >input[type='text'], [type='password'], select, textarea
                font-family: $font
                background-color: rgb(231, 76, 60)
                background: #FFFFFF
                display: flex
                border: 0
                padding: 14px
                box-sizing: border-box
                width: 100%
                font-size: 12px
                border-radius: 8px
                color: rgb(55, 55, 55)
                font-weight: 400
                &:focus
                    outline: none
            >input
                &[type='password']
                    letter-spacing: 2px
                &[type='submit']
                    font-family: $font
                    font-size: 14px
                    font-weight: 600
                    color: #FFFFFF
                    letter-spacing: 0.65px
                    height: 45px
                    text-transform: uppercase
                    background-color: rgb(208,1,27)
                    width: 100%
                    border: 0
                    &:hover
                        cursor: pointer
                &:focus
                    outline: none
                    
            &:last-of-type
                margin: 0
            &.error
                background-color: #e74c3c
        &:last-of-type
            margin: 0
    .errors
        display: flex
        margin: 5px 0 0 0
        .error
                padding: 5px
                background-color: rgb(231, 76, 60)
                flex-direction: row
                color: rgb(255, 255, 255)
                flex-wrap: wrap
                font-weight: 600
                border-radius: 3px
                width: auto
                margin: 0 3px 0 0
                font-size: 11px 