/* Reference to https://www.w3schools.com/howto/howto_js_rangeslider.asp How to style range sliders Date Accessed: 17/02/2019 */
.slider
  -webkit-appearance: none
  width: 100%
  min-width: 250px
  height: 2px
  background: #d3d3d3
  outline: none
  opacity: 1
  -webkit-transition: .2s
  transition: opacity .2s
  position: relative
  margin-bottom: 15px


.slider::-webkit-slider-thumb
  -webkit-appearance: none
  appearance: none
  border-radius: 25px
  border: 2px solid #e74c3c
  width: 15px
  height: 15px
  background: #e74c3c
  cursor: pointer


.slider::-moz-range-thumb
  width: 25px
  height: 25px
  background: #4CAF50
  cursor: pointer
/* End of w3shools reference. */
