$border-colour: rgb(226, 226, 226)
$sidebar-width: 13%
$topbars-width: 100%-$sidebar-width
.topbar
    margin: 0 0 0 $sidebar-width
    width: $topbars-width
    height: 70px
    border-bottom: 1px solid $border-colour
    background-color: #fff
    display: flex
    align-items: center
    h1
        margin: 0
        color: rgb(20, 20, 20)
        letter-spacing: 1px
        font-size: 22px
        text-transform: uppercase
        font-weight: 600
        padding: 0 0 0 30px
    .burger-menu
        cursor: pointer
    .user-info
        align-self: center
        justify-self: flex-end
        margin: 0 30px 0 auto

.pagebar
    margin: 0 0 0 $sidebar-width
    width: $topbars-width
    height: 50px
    border-bottom: 1px solid $border-colour
    background-color: #fff
    display: flex
    align-items: center
    h1
        margin: 0
        color: rgb(20, 20, 20)
        font-size: 16px
        font-weight: 500
        padding: 0 0 0 30px
.main-container
    margin: 0 0 0 $sidebar-width
    width: $topbars-width
    display: flex
    box-sizing: border-box
    padding: 30px

.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  color: rgba(77, 77, 77, 0.7)
  font-size: 9px
  text-align: right
  z-index: -1



//The top bar will display the menu icon and make the topbar and page bar fullscreen to negate the disappearnce of the sidebar

@media only screen and (max-width: 1300px)
  .topbar {width: 100%; margin-left: 0; }
  .pagebar {width: 100%; margin-left: 0;}
  .burger-menu  {width: 30px; height: 30px; margin-left: 2%;}
  .main-container {margin-left: 0;}
