$border-colour: rgb(226, 226, 226)
$sidebar-width: 13%
$topbars-width: 100%-$sidebar-width

//For the sidebar that displays at full screen

.sidebar
    width: $sidebar-width
    height: 100%
    background-color: #fff
    position: fixed
    font-family: Open Sans
    font-weight: 500
    border-right: 1px solid $border-colour
    margin-left: 0
    h1
        padding-top: 10%
        padding-bottom: 5%
        padding-left: 15%
        color: #222222
        cursor: pointer
        font-size: 22px


    .MenuItem
        width: 100%
        height: 50px
        color: #222222
        font-size: 14px
        letter-spacing: 0.58px
        line-height: 50px
        cursor: pointer
        display: inline-block
        position: relative
    .list-item-content
        margin-left: 14%

    ul
        list-style-type: none
        width: 100%
        padding-left: 0


    img
        height: 20px
        color: #4D4D4D
        margin-right: 5%

    .active-link
        background: rgba(255, 0, 0, 0.02)
        border-left: 3px solid rgb(208,1,27)
        height: 100%
        width: 98%
        position: relative
        display: inline-block

        .list-item-content
            margin-left: 13%

    li:hover
        background-color: rgba(104, 104, 104, 0.05)

//For the sidebar that displays on condensed screen when menu button is pressed

.sidebarDrawer
    width: 100%
    height: 100%
    z-index: 18
    background-color: #fff
    position: fixed
    visibility: hidden
    font-family: Open Sans
    font-weight: 500
    margin-left: 0
    overflow: scroll
    h1
        padding-top: 5%
        color: #222222
        cursor: pointer
        font-weight: normal
        text-align: center
    .burger-icon
        position: relative
        top: 3px
        margin-right: 1%


    .MenuItem
        width: 100%
        height: 50px
        color: #222222
        font-size: 14px
        letter-spacing: 0.58px
        line-height: 50px
        cursor: pointer
        display: inline-block
        position: relative
    .list-item-content
        margin-left: 14%

    ul
        list-style-type: none
        width: 100%
        padding-left: 0


    img
        height: 20px
        color: #4D4D4D
        margin-right: 5%

    .active-link
        background: rgba(255, 0, 0, 0.02)
        border-left: 3px solid rgb(208,1,27)
        height: 100%
        width: 98%
        position: relative
        display: inline-block

        .list-item-content
            margin-left: 13%

    li:hover
        background-color: rgba(104, 104, 104, 0.05)

.sidebarDrawer::-webkit-scrollbar
	width: 3px
  height: 100%
  bottom: 0
.sidebarDrawer::-webkit-scrollbar-thumb
	background-color: rgb(208,1,27)
  bottom: 0


//The sidebar drawer will only be displayed if the screen is less than 1300px and the sidebar is not visible

@media only screen and (max-width: 1300px)
  .sidebar-expand {display: none}
  .sidebar {display: none }
  .sidebarDrawer {visibility: visible}
