$shadow: 0 0 20px 0 rgba(183, 183, 183, 0.22)
$font:  'Open Sans', sans-serif
.now-playing
    width: calc( 40% - 30px)
    margin: 0 30px 0 0
    .player
        height: 80px
        display: flex
        align-items: center
        justify-items: center
        flex-direction: column
        >.time
            height: 9px
            width: 100%
            background-color: rgb(40, 40, 40)
            div
                background-color: #e74c3c
                height: 100%
        >.controls
            display: flex
            align-items: center
            color: rgb(78, 78, 78)
            height: calc( 100% - 9px)
            justify-content: space-between
            width: 40%
            i
                font-size: 24px

            
.queue
    width: 60%
.playlists
    display: flex
    flex-wrap: wrap
    width: 100%
    .playlist
        margin: 10px
        width: calc(33% - 20px)

.playlist-header
    width: calc(35% - 20px)

.playlist-videos
    width: 65%
    .video-list
        padding: 0 30px
        >.video
            width: 100%
            box-shadow: 0 2px 40px 0 rgba(185, 185, 185, 0.22)
            display: flex
            height: 75px
            margin: 0 0 15px 0 
            box-shadow: $shadow
            >.image
                background-size: 120%
                min-width: 10%
                border: 1px solid rgb(234, 234, 234)
                box-sizing: border-box
            .content
                padding: 5px 0 5px 10px
                h2
                    font-size: 14px
                    color: rgb(82, 82, 82)
                    font-weight: 600
                    margin: 0
                p
                    margin: 0
                    font-size: 12px
                    max-height: 20px
                    overflow: hidden
                    text-overflow: ellipsis
                    color: rgb(138, 138, 138)
                button
                    color: #fff
                    font-family: $font
                    font-size: 11px
                    font-weight: 600
                    padding: 5px 10px
                    text-transform: uppercase
                    border: 0
                    &:hover
                        cursor: pointer
                    &.red
                        background-color: #e74c3c