.delete-button
  width: 20px
  cursor: pointer

.title
  font-weight: bold

/* Reference to Batu's design guideline. Date Accessed: 17/02/2019 */
.schedules-align-table
  border-spacing: 20px
  background: #FFFFFF
  border: 1px solid #E6E6E6
  box-shadow: 0 0 20px 0 rgba(183,183,183,0.15)
  border-radius: 3px
  width: 50%
  padding: 30px
  text-align: center
/* End of Batu's reference. */
