doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title="Videobrix"
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#3366ff")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")

    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG", crossorigin="anonymous")

    //- link(rel="stylesheet", href="/main.css")
    meta(name="msapplication-TileColor", content="#23262b")
    meta(name="theme-color", content="#23262b")
  body
    block content
