$title-colour: rgb(61, 61, 61)

.errorWarning         
        font-weight: 400
        letter-spacing: .7px
        font-size: 20px
        color: red

.changePass-wrapper
    form
        display: flex
        flex-wrap: wrap
        width: 100%
        
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100%
    >h1
        text-transform: uppercase
        font-size: 40px
        color: red
        font-weight: 600
        margin: 10px 0
        letter-spacing: 8px
    >h2
        text-transform: uppercase
        font-size: 30px
        letter-spacing: 4px
        color: $title-colour
        font-weight: 400
    >.errors 
        margin: 20px
        .error
            font-size: 14px
            color: rgb(74, 16, 16)
            margin: 0 0 5px 0
            display: flex
            background-color: rgb(242, 222, 222)
            h2
                font-size: 14px
                font-weight: 600
                margin: 0 5px 0 0
    >.changePass-container-card
        width: 40%
        box-sizing: border-box
        display: flex
        align-items: center
        flex-direction: column
        >h1
            margin: 0

