$font:  'Open Sans', sans-serif
$container-border: #E6E6E6
$container-border-radius: 14px
$shadow: 0 0 20px 0 rgba(183,183,183,0.15)
    
body 
    height: 100vh
    font-family: $font
    margin: 0
    background-color: rgb(250, 250, 250)
#root
    height: 100vh

.card 
    background: #FFFFFF
    box-shadow: $shadow
    background-color: #fff
    border: 1px solid $container-border
    padding: 25px
    border-radius: $container-border-radius
    


.x-button
    border: 0;
    border-radius: 0.25rem;
    background: grey;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    
    padding: 0.25rem 0.5rem;    
    cursor: pointer;

.btn
    display: inline-block;
    font-size: 25px;
    margin-left: 5%;
    padding: 1%;
    color: white;
    font-weight: 500;
    background-color: #cc0000;
    border-radius: 10px;
    padding-left: 100%;
    padding-right: 100%  

.thin-card
    background: #FFFFFF
    box-shadow: $shadow
    margin: 10px
    background-color: #fff
    border: 1px solid $container-border
    border-radius: $container-border-radius
    overflow: hidden
    >.padding
        padding: 25px 35px
        >h1
            font-size: 18px
            font-weight: 500
            color: #000
            margin: 0
        >p
            padding: 10px 0 0 0
            color: rgb(138, 138, 138)
            font-size: 12px
            line-height: 18px
            margin: 0
        &.actions
            display: flex
            >a
                font-size: 14px
                margin: 0 25px 0 0
                font-weight: 600
                text-transform: uppercase
                color: #8e44ad
                &:hover
                    cursor: pointer
    >.image
        height: 250px
        background-size: 100%
.small-container
    background: #FFFFFF
    box-shadow: $shadow
    background-color: #fff
    border: 1px solid $container-border
    padding: 25px
    border-radius: $container-border-radius

button:focus
    outline: none