// tick

.circ
    opacity: 0
    stroke-dasharray: 130
    stroke-dashoffset: 130
    -webkit-transition: all 1s
    -moz-transition: all 1s
    -ms-transition: all 1s
    -o-transition: all 1s
    transition: all 1s
.tick
    stroke-dasharray: 50
    stroke-dashoffset: 50
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out
    -o-transition: stroke-dashoffset 1s 0.5s ease-out
    transition: stroke-dashoffset 1s 0.5s ease-out

.drawn + svg .path
    opacity: 1
    stroke-dashoffset: 0


.lds-ring 
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.lds-ring
    div 
        box-sizing: border-box
        display: block
        position: absolute
        width: 51px
        height: 51px
        margin: 6px
        border: 6px solid rgb(45, 45, 45)
        border-radius: 50%
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
        border-color: rgb(45, 45, 45) transparent transparent transparent
    div:nth-child(1) 
        animation-delay: -0.45s
    div:nth-child(2) 
        animation-delay: -0.3s
    div:nth-child(3) 
        animation-delay: -0.15s

@keyframes lds-ring 
    0% 
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
