$title-colour: rgb(61, 61, 61)


.login-wrapper
    h1
        text-align: center
        font-size: 50px
        font-weight: normal
        margin-top: 10%
    h2
        font-size: 30px
        font-weight: normal
        margin-bottom: 2%
        text-align: center

    .card
        margin: 0 auto
        width: 40%
        form
            margin: 0 auto
            width: 95%
            margin: 2%
        .input button
            background: red





.upload-wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100%
    >h1
        text-transform: uppercase
        font-size: 40px
        color: $title-colour
        font-weight: 600
        margin: 10px 0
        letter-spacing: 8px
    >h2
        text-transform: uppercase
        font-size: 30px
        letter-spacing: 4px
        color: $title-colour
        font-weight: 400
    >.errors
        margin: 20px
        .error
            font-size: 14px
            color: rgb(74, 16, 16)
            margin: 0 0 5px 0
            display: flex
            background-color: rgb(242, 222, 222)
            h2
                font-size: 14px
                font-weight: 600
                margin: 0 5px 0 0
    >.upload-container
        width: 40%
        box-sizing: border-box
        display: flex
        align-items: center
        flex-direction: column
        >h1
            margin: 0
