.control-icons
  height: 25px

.current-data-display
  font-family: Open Sans
  font-size: 15px
  border: 2px solid #E6E6E6
  border-radius: 5px
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 15px
  padding-right: 15px

.buttons-container
  padding: 20px
  padding-top: 0px
  padding-left: 0px
  width: 100%


/* Reference to Batu's design guideline. Date Accessed: 17/02/2019 */
.controls-align-table
  border-spacing: 20px
  background: #FFFFFF
  border: 1px solid #E6E6E6
  box-shadow: 0 0 20px 0 rgba(183,183,183,0.15)
  border-radius: 3px
  width: 50%
  padding: 50px
  text-align: center
/* End of Batu's reference. */

.settings-button
  margin-right: 10px

.right-margin
  margin-right: 25px
