$font:  'Open Sans', sans-serif
$border-colour: #C3C3C3
$border-hover-colour: #3498db    
.upload-form
    form
        display: flex
        flex-wrap: wrap
        width: 100%
        >.validationWarning      
            font-weight: 400
            letter-spacing: .7px
            font-size: 6px
            color: red
        >.input-wrapper
            flex-shrink: 0
            margin: 0 0 20px 0
            width: 100%
            >.input:not(.button):not(.checkbox)
                box-sizing: border-box
                padding: 1px
                background-color: $border-colour
                transition: background-color 0.5s
                border-radius: 9px
                &:focus-within
                    background-color: $border-hover-colour
            >.input
                position: relative
                >h2
                >h1
                    width: auto
                    position: absolute
                    left: 20px
                    top: -8px
                    padding: 0 8px
                    margin: 0
                    background-color: #fff
                    font-weight: 400
                    letter-spacing: .7px
                    font-size: 12px
                >input
                    &[type='text'], &[type='password'], &[type='select'], &[type='number']
                        font-family: $font
                        background: #FFFFFF
                        border: 0
                        padding: 14px
                        box-sizing: border-box
                        width: 100%
                        font-size: 12px
                        border-radius: 8px
                        color: rgb(55, 55, 55)
                        font-weight: 400
                    &[type='file']
                        display: none
                    &[type='password']
                        letter-spacing: 2px
                    &[type='submit']
                        font-family: $font
                        font-size: 14px
                        font-weight: 600
                        color: #FFFFFF
                        letter-spacing: 0.65px
                        height: 45px
                        text-transform: uppercase
                        background-color: rgb(208,1,27)
                        width: 100%
                        border: 0
                        &:hover
                            cursor: pointer
                    &:focus
                        outline: none
                
                >label
                        font-family: $font
                        background: #FFFFFF
                        border: 0
                        display: block
                        padding: 14px
                        box-sizing: border-box
                        width: 100%
                        font-size: 12px
                        border-radius: 8px
                        color: rgb(55, 55, 55)
                        font-weight: 400
                &:last-of-type
                    margin: 0
                &.error
                    background-color: #e74c3c
            &:last-of-type
                margin: 0
        .errors
            display: flex
            margin: 5px 0 0 0
            .error
                    padding: 5px
                    background-color: rgb(231, 76, 60)
                    flex-direction: row
                    color: rgb(255, 255, 255)
                    flex-wrap: wrap
                    font-weight: 600
                    border-radius: 3px
                    width: auto
                    margin: 0 3px 0 0
                    font-size: 11px 

